{{#enum}}
import {{enumName}} from '@enums/{{enumFile}}.js'

{{/enum}}
{{#data}}
import {{dataName}}Data from './data/{{filename}}'
{{/data}}

export default Object.freeze({
{{#enum}}
{{#data}}
  [{{enumName}}.{{key}}]: {{dataName}}Data,
{{/data}}
{{/enum}}
{{^enum}}
{{#data}}
  {{id}}: {{dataName}}Data,
{{/data}}
{{/enum}}
})
