import {{typeName}} from '../{{type}}'

const data = Object.freeze({
  id: {{id}},
  name: '{{name}}',
})

class {{className}} extends {{typeName}} {
  constructor(args) {
    super(data, args)
  }
}

export { data as default, {{className}} as Class }
