import Phaser from 'phaser'

class {{className}} extends Phaser.GameObjects.GameObject {
  constructor(scene) {
    super(scene, '{{{name}}}')
  }
  destroy() {
    super.destroy()
  }
  preUpdate() {}
}

function create{{className}} (args) {
  const {{objectName}} = new {{className}}(this.scene, args)
  this.displayList.add({{objectName}})
  this.updateList.add({{objectName}})
  return {{objectName}}
}

export { {{className}}, create{{className}} as factoryFn }
