import { Plugins } from 'phaser'

class {{pluginName}} extends Plugins.ScenePlugin {
  constructor(scene, pluginManager) {
    super(scene, pluginManager)
  }
  // Lifecycle
  boot() {
    this.systems.events.on('destroy', this.destroy, this)
  }
  destroy() {
    super.destroy()
  }
}

const config = {
  type: 'scene',
  key: '{{pluginName}}',
  mapping: '{{name}}',
}

export { {{pluginName}} as plugin, config }
